body {
  margin: 0;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

video {
  display: none;
}


.ui {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  font-family: sans-serif;
  color: #fff;
  padding: 16px;
  border-radius: 0 0 6px 0;
}

#container {
  position: relative;   /* needed so child elements use this as their base */
}

#hud {
  position: absolute;
  left: 5px;
  top: 5px;
  background: rgba(0, 0, 0, 0.5);  /* 50% opaque black */
  color: white;
  padding: .5em;
  font-family: monospace;
  border-radius: .5em;
}
  